.product-card {
    &__title {
        text-transform: none;
        text-align: left;
        line-height: 1.3;
        @include media-breakpoint-up(lg){
            min-height: 68px;
        }
        .product-card__link {
            font-size: 1.5rem;
            letter-spacing: 1px;
            text-decoration: none;
        }
    }
    &__link {
        color: black;
        text-align: left;
    }
    &__description {
        text-align: left;
        @extend .mb-2;
        p {
            @include serif;
        }
    }
    &__footer {
        @extend .d-flex;
        @extend .justify-content-between;
        @extend .align-items-center;

        .price {
            font-size: 1.5rem;
            font-style: italic;
            margin-bottom: 0 !important;
            line-height: 1;
            @include serif;
        }

        .added_to_cart {
            position: absolute;
            bottom: -3rem;
            width: 100%;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 2px;
            padding: 2px 0;
        }

        .woocommerce-Price-currencySymbol {
            display: inline-block;
            margin-right: .5rem;
        }
        
    }
}