.rh-categories-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    .menu-item {
        > a {
            text-transform: uppercase;
            color: black;
            text-decoration: none;
            font-size: 1.4rem;
            letter-spacing: 2px;
            opacity: .5;
            position: relative;
            &:hover {
                opacity: 1;
                text-decoration: none;
                &:before,
                &:after {
                    transform: translate3d(0,-10px,0);
                    opacity: 1;
                }
            }
            &:before,
            &:after {
                @include pseudo;
                width: 20px;
                height: 20px;
                background-image: url('assets/images/icons/bold-x.svg');
                background-position: center;
                background-repeat: no-repeat;
                top: 50%;
                transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                opacity: 0;
            }
            &:before { 
                left: -2.5rem; 
                transform: translate3d(-4rem,-10px,0);
            }
            &:after { 
                right: -2.5rem; 
                transform: translate3d(4rem,-10px,0);
            }
        }
        &.current-menu-item {
            > a {
                opacity: 1;
                &:before,
                &:after {
                    opacity: 1;
                    transform: translate3d(0,-10px,0);
                }
            }
        }
    }
}