.site-header {
    padding: 0;
    @extend .mb-1;
    @extend .py-lg-2;
    @extend .align-items-lg-center;
    @extend .mb-lg-3;
    border: none;

    > .container {
        position: relative;
    }
    
    &__logo-wrapper {
        display: block;
        padding: 1rem 0;
        max-width: 13.5rem;
        @extend .p-lg-0;
        
        @include media-breakpoint-up(lg){
            max-width: 27.5rem;
        }
    }
    &__nav {
        list-style-type: none;
        padding: 0;
        margin: 0;
        @extend .d-lg-flex;

        .menu-item {
            @include media-breakpoint-up(lg){
                margin-bottom: 0;
            }
        }

        a {
            text-transform: uppercase;
            font-size: 1.25rem;
            letter-spacing: 2px;
            text-decoration: none;
            color: black;
        }
        
    }
    .left-side-nav,
    .right-side-nav {
        @extend .d-lg-flex;
        @extend .align-items-lg-center;
        display: none;


        .menu-item {
            max-width: 100%;
            & > a {
                display: inline-block;
                padding: 0 10px;
                border-bottom: 1px solid rgba(0,0,0,0);
                @include ease-normal;
                @include media-breakpoint-down(lg){
                    padding: 5px 1rem;
                    display: block;
                    text-align: center;
                }
            }
            &.current-menu-item,
            &:hover {
                & > a {
                    border-bottom: 1px solid rgba(0,0,0,1);
                }
            }
        }
        
    }
    .left-side-nav {
        .menu-item {
            &:not(:last-child){
                @extend .mr-lg-2;
            }
        }
    }
    .right-side-nav {
        .menu-item {
            &:not(:first-child){
                @extend .ml-lg-2;
            }
        }
    }

    .nav-toggle {
        @include media-breakpoint-up(lg){
            display: none;
        }
    }
    
}